@import settings
@import foundation
@import compass/css3/border-radius

input::-webkit-input-placeholder
  text-align: center

input:-moz-placeholder
  text-align: center

input::-moz-placeholder 
  text-align: center 

input:-ms-input-placeholder 
  text-align: center

h1, h2, h3, h4, h5, h6
  color: $primary-color

h2
  font-weight: 300  
  margin-bottom: 0.5em

h2.title
  margin-top: 1em

h4
  font-weight: bold

textarea
  border: 1px solid $primary-color

a:hover
  text-decoration: underline

.spacer
  margin-bottom: 4em

@mixin invert
  background-color: $primary-color
  color: white
  h1, h2, h3, h4, h5, h6
    color: white

// === Header and navigation ===

header
  border-bottom: 3px solid $primary-color
  .row
    padding: 2em 0
  h2
    text-indent: 100%
    white-space: nowrap
    overflow: hidden
    background: url("/images/ne_logo.png") 0 0 no-repeat
    width: 331px
    height: 116px

nav
  ul
    list-style-type: none
  li
    display: inline-block

nav#primary
  ul
    text-align: right
    margin-top: 1.6em
  li
    display: inline-block
    font-size: rem-calc(24)
    margin: 1em

nav#secondary
  a
    color: white
  li
    margin: 0 0.5em

// === Home/upload Page ===

section#hero
  +invert
  >.row
    padding: 2em 0
    background: url("/images/ne_bot_bannerbacking.png") 100% 20% no-repeat
  h1
    margin-bottom: 1em
    font-weight: 300
    line-height: 1.3em
  a
    color: white
    border-color: white
    font-size: rem-calc(24)

form#uploadform
  label
    color: $primary-color
  label[for="terms"]
    margin-top: 2em
  .terms a
    text-decoration: underline
  #droparea
    &:hover
      cursor: pointer
      cursor: hand
    img
      margin-right: 1em
  #hiddenarea
    padding: 0 2.5em
  #hiddenarea > label
    margin-bottom: 3em
  #hiddenarea label.nomargin
    margin-bottom: 0
  border: 3px solid $primary-color
  +border-radius(0.5em)
  input[type="file"]
    display: none
  .notselected
    h3
      margin: 1.5em
  .selected
    h3
      margin: 1.5em 1.5em 0
    span
      text-decoration: underline
  input[type="text"], input[type="email"]
    background-color: $secondary-color
    color: $tertiary-color
    +border-radius(0.5em)
    font-size: rem-calc(16px)
    max-width: 36em
    margin: 0 auto
    padding: 0 1.5em
    height: 3em
  input[type="radio"]
    opacity: 0
    &+ label
      color: $primary-color
      background-color: white
    &:checked + label
      color: white
      background-color: $primary-color
  ul#distortion-type
    display: inline-block
    list-style-type: none
  li label, button#upload
    @media #{$medium-up}
      width: 17em
    display: block
    font-size: rem-calc(24px)
    padding: 0.25em
    border: 3px solid $primary-color
    +border-radius(10px)
  button#upload
    color: white
    margin: auto auto 2em
    background-color: $primary-color
    font-weight: bold

  input[type="checkbox"]:not(old)
    $checksize: 20px
    width: $checksize
    margin: 0
    padding: 0
    opacity: 0
    + label
      display: inline-block
      margin-left: -$checksize
      margin-top: $checksize / 2
      margin-bottom: $checksize / 2
      padding-left: $checksize * 1.5
      background: url("/images/buttons/untick.png") no-repeat 0 0
      background-size: $checksize
      line-height: $checksize
    &:checked + label
      background: url("/images/buttons/tick.png") no-repeat 0 0
      background-size: $checksize


.small-list-spacer
  margin-bottom: 2em  
  
section#samples
  background-color: $secondary-color
  padding: 2em 0 3em
  @media #{$small-only}
  h2
    color: $tertiary-color
  h4
    color: $primary-color
  ul
    list-style-type: none
    background-color: white
    padding: 1em
    margin: 0
    +radius(7px)
  li
    background-color: $secondary-color
    margin: 1em 0
    padding: 1em
    font-weight: 600
    +radius(7px)
    a
      color: $tertiary-color
    &:hover
      background-color: $primary-color
      a
        color: white

section#how-it-works
  .process
    padding: 4em 0.5em 2em
    +radius(15px)
    +invert
    height: 100%
  .process1 img
    // 141px high
    margin-bottom: 2px
  .process2 img
    // 123px high
    margin-bottom: 20px
  // .process3 
    // 143px high
  h5
    margin-top: 2em

// === Report Page === //

$clean: #25E063

.overview-container, .zoom-container
  background-color: #F3F3F3
  margin-bottom: 1em

.soundinfo h3
  color: $tertiary-color
  margin: 1em 0 1.5em 

audio
  width: 100%

#threshold
  h5
    font-size: rem-calc(24px)
    text-align: center
    margin: 1em

#key
  margin-top: 4em
  ul
    list-style-type: none
  li
    color: $primary-color
    font-weight: 600
    div
      margin-right: 0.5em
      display: inline-block
      width: 1em
      height: 1em
      +radius(3px)
  li.clean div
    background-color: $clean
  li.noise div
    background-color: $tertiary-color

table
  margin: 0 auto
  thead tr td, tr td
    padding: 1rem
  tr td
    text-align: center
  tbody
    background-color: $secondary-color

#global-stats
  table
    width: 100%
table#wind-free-regions
  width: 50%

.regions-expand
  text-decoration: underline
  cursor: pointer

.snr
  display: none

section#download
  $btnsize: rem-calc(24px)
  fieldset
    margin-top: 0
    margin-bottom: 0
  h6
    color: $tertiary-color
    font-weight: 600
  form
    border: 2px solid $primary-color
    +radius(5px)
  #formats label
    font-size: rem-calc(24px)
    font-weight: normal
  input[type="radio"]:not(old)
    width: $btnsize
    margin: 0
    padding: 0
    opacity: 0
    + label
      display: inline-block
      margin-left: -$btnsize
      margin-top: $btnsize / 2
      margin-bottom: $btnsize / 2
      padding-left: $btnsize * 1.5
      background: url("/images/buttons/off.png") no-repeat 0 0
      background-size: $btnsize
      line-height: $btnsize
    &:checked + label
      background: url("/images/buttons/on.png") no-repeat 0 0
      background-size: $btnsize


button.download
  +radius(5px)
  display: block
  text-align: center
  margin: 1em auto 0
  color: white
  font-weight: bold
  background-color: $primary-color
  &:hover
    background-color: white
    color: $primary-color

#downloaderror
  font-style: italic
  margin-top: 0.5em
  margin-bottom: 0

// === Admin === //


// === Static pages === //

.static
  // background: url("/images/")
  margin-bottom: 15em
  h2
    margin-bottom: 1em
  .bgimage
    background: url("/images/NE_bot_bkgwhite.png") 100% 0% no-repeat   
    min-height: 570px

.error
  .row
    background: url("/images/ne_bot_error.png") 100% 0% no-repeat
  h2
    font-size: rem-calc(48px)
  .button
    margin: 5em 0 25em

// === Footer === //

footer
  margin-top: 5em
  background-color: $tertiary-color
  a
    color: white
  .row
    padding-top: 4em
    background: url("/images/ne_bot_footerbacking.png") 100% 20% no-repeat
    min-height: 30em
  img, nav, ul
    display: inline-block
  .impressum
    font-size: 100%
    margin-top: 1.3em
    color: white
    a
      color: white
      text-decoration: underline
  .authors
    color: $secondary-color
    a
      color: $secondary-color