*.DS_Store
/bower_components/*
/.sass-cache/*
/uploads/*
/stylesheets/*
/testdata/big-test/*
/public/audio/*
/audio.db
/config/settings.rb
/*.txt
/*.b
/bin/distortion/*
/bin/mic/*
/logs/*
/Gemfile.lock