<form method="post" action="/upload">
    <p>
        Upload your audio file here.
    </p>
    <p>
        <label for="audio">Audio:</label>
        <input type="file" name="audio" id="audio"/>
    </p>
    <p>
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" />
    </p>
    <p>
        <label for="terms">I agree to the terms and conditions</label>
        <input type="checkbox" name="terms" id="termsand" />
    <p>
        <button type="submit">Upload!</button>
    </p>
</form>