<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Audio Clean</title>
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <script src="/js/vendor/modernizr/modernizr.js"></script>
  </head>
  <body>
    <div class="row">
      <h1>AudioClean</h1>
    </div>
    <%= yield %>
    <script data-main="/js/app" src="/js/vendor/requirejs/require.js"></script>
  </body>
</html>
