<div class="row">
  <p>Thanks for uploading <%= @a.description %>!</p>
  <div id="peaks-container"></div>
  <audio controls>
    <source src="/audio/<%= @a.id.to_s + "/" + File.basename(@a.source.path) %>" type="audio/wav">
  </audio>
</div>  