# Emails sent from this address
$FROM_EMAIL = "Noise Eater <noreply@NoiseEater.com>"

# Settings for validation emails
$DOMAIN = "http://localhost:9393"
$REQUIRE_VALIDATION = false

# Send an email when processing complete?
$SEND_CONFIRMATION = false

# Paths for ffmpeg tools
$FFMPEG = "ffmpeg"
$FFPROBE = "ffprobe"

# Database connection settings and appropriate DM gem
$DBGEM = "dm-sqlite-adapter"
$DBSTRING = "sqlite3://audio.db"

# Binaries
$AUDIOWAVEFORM = "./bin/audiowaveform"
$WINDDET = "./bin/windDet"