<div class="static about">
  <div class="row">
    <div class="small-12 columns text-center">
      <h2 class="title">About NoiseEater</h2>
    </div>
  </div>
  <div class="bgimage row">
    <div class="medium-8 columns medium-centered">

      <h3>What does it do?</h3>

      <p>Upload your recordings and NoiseEater.net will analyse the sound quality. Our software looks for commonly made recording errors such as wind noise on microphones, noise caused by handling recording devices and distortion. It will provide you with a report about the overall quality and allow you to download a file where the bad bits have been muted.</p>

      <h3>Why did we make it?</h3>

      <p>Many of us are now recording sound or video on mobile phones and other devices. Sometimes the quality of the recording can be very disappointing: distorted, noisy, with garbled speech or indistinct music. We have been researching how to detect common recording problems such as distorted speech, wind noise and microphone handling noise. To do this we have performed experiments to reveal how recording errors are perceived and then used this understanding to develop software to evaluate the quality.</p>

      <p>One reason for doing the work is that rapid quality assessment could determine whether sound is of broadcast quality without time consuming manual auditioning. An audio quality assessment method would make it possible to tag for content and quality, enabling better archive and audio database navigation. We are also looking into providing audio quality ratings in devices that can alert recordists to problems; for example a wind noise warning light.</p>

      <h3>Who's behind it?</h3>

      <p>The work was carried out by <a href="http://www.salford.ac.uk/computing-science-engineering/research/acoustics">University of Salford</a>. It was funded by <a href="https://www.epsrc.ac.uk/">EPSRC EP/J013013/1</a>, with <a href="http://www.bbc.co.uk/rd/index.shtml">BBC R&amp;D</a> and <a href="http://www.bl.uk/soundarchive">The British Library Sound Archive</a> as partners. The algorithms used on the website are available under a non-commercial license, if you want to know more about the project, please visit <a href="http://www.goodrecording.net/">goodrecording.net</a>.</p>

      <p>The website was built in <a href="http://www.sinatrarb.com/">Sinatra</a> by <a href="http://alliscalm.net">Kim Foale</a>, with design by <a href="http://studiosquid.co.uk/">Squid</a>. The source code is on <a href="https://github.com/kimadactyl/NoiseEater">GitHub</a>.</p>

      <h3>Licensing</h3>

      <p>The algorithms are available (currently wind noise and distortion), free for non-commercial purposes, under Attribution-NonCommercial 4.0 International (CC BY-NC) license, please send an email to <a href="mailto:p.kendrick@salford.ac.uk">p.kendrick@salford.ac.uk</a> if you would like to use the code.</p>
    </div>
  </div>
</div>