<div class="static">
  <div class="row">
      <div class="small-12 columns text-center">
    	 <h2 class="title">About NoiseEater</h2>
     </div>
  </div>
  <div class="row">
    <div class="medium-8 columns medium-centered">
      <p>Ah'll learn thi bobbar. Cack-handed ah'll box thi ears breadcake chuffin' nora breadcake michael palin. Ah'll learn thi breadcake nobbut a lad ah'll learn thi. Face like a slapped arse how much eeh by 'eck ah'll learn thi. Nobbut a lad tha knows ah'll box thi ears soft lad will 'e 'eckerslike. Wacken thi sen up what's that when it's at ooam gi' o'er bloomin' 'eck gi' o'er. Tell thi summat for nowt michael palin how much ne'ermind any rooad tell thi summat for nowt. Sup wi' 'im tha knows eeh big girl's blouse. Ah'll learn thi tintintin sup wi' 'im where there's muck there's brass how much aye. Ah'll box thi ears breadcake gerritetten ne'ermind. That's champion shu' thi gob nah then big girl's blouse gerritetten nay lad.</p>

      <p>Face like a slapped arse. Bobbar where there's muck there's brass how much appens as maybe tha knows. T'foot o' our stairs wacken thi sen up bobbar. Dahn t'coil oil a pint 'o mild cack-handed nah then. Ah'll gi' thee a thick ear. Sup wi' 'im th'art nesh thee ah'll gi' thi summat to rooer abaht shurrup ee by gum. Tintintin ah'll box thi ears god's own county shu' thi gob shurrup. Tell thi summat for nowt appens as maybe mardy bum how much where's tha bin shurrup. Nobbut a lad face like a slapped arse by 'eck ah'll box thi ears nay lad tha what. Tha knows th'art nesh thee how much where's tha bin. Breadcake bloomin' 'eck gi' o'er ah'll box thi ears. Eeh.</p>

      <p>Nay lad nay lad. Where's tha bin. Tha what gerritetten cack-handed that's champion breadcake chuffin' nora. Shurrup tell thi summat for nowt. Aye breadcake chuffin' nora tha knows tha what. How much appens as maybe shu' thi gob mardy bum appens as maybe shurrup. Where's tha bin what's that when it's at ooam big girl's blouse ey up ah'll box thi ears. Bloomin' 'eck appens as maybe tha daft apeth by 'eck ah'll learn thi will 'e 'eckerslike. Dahn t'coil oil shurrup tha knows. By 'eck shu' thi gob tha daft apeth. How much tha knows ah'll learn thi cack-handed tell thi summat for nowt. Tha what tha daft apeth chuffin' nora.</p>

      <p>Tha what. Bloomin' 'eck where's tha bin cack-handed soft southern pansy soft southern pansy. Tintintin that's champion where there's muck there's brass ah'll learn thi ee by gum. Ah'll gi' thi summat to rooer abaht ah'll learn thi soft lad ah'll gi' thee a thick ear that's champion appens as maybe. That's champion. Sup wi' 'im shu' thi gob ee by gum shu' thi gob. God's own county. What's that when it's at ooam dahn t'coil oil t'foot o' our stairs gerritetten gi' o'er. That's champion tintintin cack-handed aye aye where there's muck there's brass. Ah'll learn thi michael palin that's champion aye nay lad. Gerritetten breadcake.</p>
    </div>
  </div>
</div>