<div class="row">
  <div class="columns large-12">
    <h2 class="title">Administration</h2>

    <table id="admin">
      <thead>
        <tr>
          <td>ID</td>
          <td>Description</td>
          <td>Email</td>
          <td>Test</td>
          <td>Created</td>
          <td>Completed</td>
          <td>Success</td>
          <td>Delete</td>
        </tr>
      </thead>
      <tbody> 
        {{#get_all}}
          <tr>
            <td><a href="/report/{{validationstring}}">{{id}}</a></td>
            <td><a href="/report/{{validationstring}}">{{description}}</a></td>
            <td>{{email}}</td>
            <td>{{detection}}</td>
            <td>{{created_at}}</td>
            <td>{{completed_at}}</td>
            <td>{{success}}</td>
            <td><a href="/admin/delete/{{id}}">Delete</a></td>
          </tr>
        {{/get_all}}
      </tbody>
    </table>
  </div>
</div>