<div class="static">
  <div class="row">
      <div class="small-12 columns text-center">
       <h2 class="title">Contact Us</h2>
     </div>
  </div>
  <div class="bgimage row">
    <div class="medium-8 columns medium-centered">
      <p>A project by Salford University's Acoustics Research Centre</p>

      <p>All enquiries: <a href="mailto:info@goodrecording.net">info@goodrecording.net</a>

      <p>
        <a class="twitter-timeline" href="https://twitter.com/goodrecording" data-widget-id="611881089653690368">Tweets by @goodrecording</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </p>
  </div>
</div>