<div class="static">
  <div class="row">
      <div class="small-12 columns text-center">
       <h2 class="title">Contact Us</h2>
     </div>
  </div>
  <div class="row">
    <div class="medium-8 columns medium-centered">
      <p>Ah'll learn thi bobbar. Cack-handed ah'll box thi ears breadcake chuffin' nora breadcake michael palin.</p>

  </div>
</div>