<div class="error">
  <div class="row">
      <div class="small-12 columns text-center">
        <h2 class="title">{{title}}</h2>
        <p>{{body}}</p>
        <a class="button round" href="/">Go back home?</a>
      </div>
    </div>
  </div>
</div>