<section id="hero">
  <div class="row spacer">
    <div class="small-12 medium-10 small-centered text-center columns">
      <h1>Noise Eater automatically identifies wind, distortion, and microphone handling noise in your audio file.</h1>
      <div class="row">
      <div class="medium-6 small-12 columns medium-text-right">
        <a class="button round first" href="#how-it-works">Learn more</a> 
      </div>
      <div class="medium-6 small-12 columns medium-text-left">
        <a class="button round second" href="#samples">See samples</a>
      </div>
    </div>
  </div>
</section>

<div class="row">
  <div class="small-12 columns text-center">
  
    <h2 class="title">Upload your audio file</h2>

    <form method="post" id="uploadform" action="/" enctype='multipart/form-data' class="spacer" data-abide>
        <div id="droparea">
          <span class="notselected">
            <h3>
              <img src="/images/ne_audiofile_icon.png">
              Click to select a file
            </h3>
          </span>
          <span class="selected">
            <h3>
              <img src="/images/ne_audiofile_icon.png">
              <span></span>
            </h3>          
          </span>
        </div>

        <div id="hiddenarea" class="selected">
          <label for="audio">
            <input type="file" name="audio" id="audiofile" required pattern="^.+?\.(wav|au|aiff|flac|mp3|m4a|aac|bwf|ogg|oga|raw|wma|WAV|AU|AIFF|FLAC|MP3|M4A|AAC|BWF|OGG|OGA|RAW|WMA
)$"  accept="audio/*" required>
            <small class="error">Please select an audio file</small>
          </label>

          <label for="audio"><h4>Description</h4>
            <input type="text" name="description" id="description" placeholder="Add a description for your reference.">
          </label>      

          <label for="email"><h4>Email</h4>
            <input type="email" name="email" id="email" placeholder="You will be sent a link to confirm your request." required>
            <small class="error">A valid email address is required.</small>
          </label>

          <label class="nomargin">
            <h4>Detection</h4>
            Which noise detection algorithm do you want to use?
          </label>          
          <ul id="distortion-type">
            <li><input type="radio" name="detection" id="detection-wind" value="wind" checked><label for="detection-wind">Wind Noise</label></li>
            <li><input type="radio" name="detection" id="detection-distortion" value="distortion"><label for="detection-distortion">Distortion</label></li>
            <li><input type="radio" name="detection" id="detection-mic" value="mic" disabled><label for="detection-mic"><strike>Microphone Handling Noise</strike></label></li>
          </ul>
          <br>
          <input type="checkbox" name="terms" id="terms" required>
          <label for="terms" class="terms">
            I agree to the <a href="/terms">terms and conditions</a>
            <small class="error">You must agree to the terms and conditions</small>
          </label>

          <button type="submit" name="upload" id="upload" value="upload">Upload</button>
        </div>
    </form>

    <p id="moreless" class="spacer">
      <span class="notselected">More options will appear once you’ve selected your file.</span>
      <span class="selected"><a href="#">Clear form and cancel analysis?</a></span>
    </p>
  </div>
</div>
<section id="samples" class="spacer">
  <div class="row text-center">
    <div class="small-12 columns">
      <h2>Sample files</h2>
    </div>
  </div>
  <div class="row text-center nopadding" data-equalizer>
    <div class="medium-4 columns">
      <h4>Wind Noise</h4>
      <ul class="small-list-spacer" data-equalizer-watch>
        <li><a href="/example/wind-cows">Cows mooing</a></li>
        <li><a href="/example/wind-birds">Birdsong</a></li>
        <li><a href="/example/wind-didgeridoo">Didgeridoo</a></li>
      </ul>
    </div>
    <div class="medium-4 columns">
      <h4>Distortion</h4>
      <ul class="small-list-spacer" data-equalizer-watch>
        <li><a href="/example/dist-metro-musica">Metro Musica</a></li>
        <li><a href="/example/dist-ambulance">Ambulance</a></li>
        <li><a href="/example/dist-sheep-helicopter">Sheep &amp; Helicopter</a></li>
      </ul>
    </div>
    <div class="medium-4 columns">
      <h4>Mic Handling</h4>    
      <ul class="small-list-spacer" data-equalizer-watch>
        <li>Coming soon!</li>
      </ul>
    </div>        
  </div>
</section>
<section id="how-it-works">
  <div class="row">
    <div class="small-12 columns text-center">
      <h2>The Process</h2>
    </div>
  </div>
  <div class="row text-center medium-uncollapse spacer" data-equalizer>
    <div class="medium-4 small-12 columns" data-equalizer-watch>
      <div class="process process1 small-list-spacer">
        <img src="/images/ne_process1.png">
        <h5>Upload your audio file</h5>
      </div>
    </div>
    <div class="medium-4 small-12 columns" data-equalizer-watch>
      <div class="process process2 small-list-spacer">    
        <img src="/images/ne_process2.png">
        <h5>Our robots identify the noise and supply you with a report</h5>
      </div>
    </div>    
    <div class="medium-4 small-12 columns" data-equalizer-watch>
      <div class="process process3 small-list-spacer">    
        <img src="/images/ne_process3.png">
        <h5>You can download your file with noise removed, or just examine the report</h5>
      </div>
    </div>    
  </div>
  <div class="row spacer">
    <div class="small-12 columns text-center">
      <a class="button round" href="/about">Learn more</a>
    </div>
  </div>
</section>

<script data-main="/js/index" src="/js/vendor/requirejs/require.js"></script>