<section id="hero">
  <div class="row">
    <div class="small-12 medium-10 small-centered text-center columns">
      <h1>Noise Eater automatically identifies wind, distortion, and microphone handling noise in your audio file.</h1>
      <a class="button round">Learn more</a>
    </div>
  </div>
</section>

<div class="row">
  <div class="small-12 columns text-center">
  
    <h2 class="title">Upload your audio file</h2>

    <form method="post" id="uploadform" action="/" enctype='multipart/form-data' data-abide>
        <div id="droparea">
          <h3>
            <img src="/images/ne_audiofile_icon.png">
            Drop file here or click to navigate
          </h3>
        </div>

        <div id="hiddenarea">

          <label for="audio">
            <h4>Audio File</h4>
            <em>Select any valid audio format.</em>
            <input type="file" name="audio" id="audiofile" required>
            <small class="error">Please select an audio file</small>
          </label>

          <label for="audio"><h4>Description</h4>
            <input type="text" name="description" id="description" placeholder="Add a description for your reference.">
          </label>      

          <label for="email"><h4>Email</h4>
            <input type="email" name="email" id="email" placeholder="You will be sent a link to confirm your request." required>
            <small class="error">A valid email address is required.</small>
          </label>

          <label class="nomargin">
            <h4>Detection</h4>
            Which noise detection algorithm do you want to use?
          </label>          
          <ul id="distortion-type">
            <li><input type="radio" name="detection" id="detection-wind" value="wind" checked><label for="detection-wind">Wind Noise</label></li>
            <li><input type="radio" name="detection" id="detection-distortion" value="distortion"><label for="detection-distortion">Distortion</label></li>
            <li><input type="radio" name="detection" id="detection-mic" value="mic" disabled><label for="detection-mic"><strike>Microphone Handling Noise</strike></label></li>
          </ul>
          <label for="terms">
            <input type="checkbox" name="terms" id="terms" required>
            I agree to the terms and conditions
            <small class="error">You must agree to the terms and conditions</small>
          </label>

          <button type="submit" name="upload" id="upload" value="upload">Upload</button>
        </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <h3>Sample files</h3>
    <ul>
      {{#audio}}
        <li>
          <a href="/report/{{id}}">
            {{description}}
          </a>
        </li>
      {{/audio}}
    </ul>
  </div>
</div>
<hr>
<section id="how-it-works">
  <div class="row">
    <div class="small-12 columns text-center">
      <h2>The Process</h2>
    </div>
  </div>
  <div class="row text-center medium-uncollapse" data-equalizer>
    <div class="medium-4 small-12 columns" data-equalizer-watch>
      <div class="process">
        <img src="/images/ne_process1.png">
        <h5>Upload your audio file</h5>
      </div>
    </div>
    <div class="medium-4 small-12 columns" data-equalizer-watch>
      <div class="process">    
        <img src="/images/ne_process2.png">
        <h5>Our robots identify the noise and supply you with a report</h5>
      </div>
    </div>    
    <div class="medium-4 small-12 columns" data-equalizer-watch>
      <div class="process">    
        <img src="/images/ne_process3.png">
        <h5>You can download your file with noise removed, or just examine the report</h5>
      </div>
    </div>    
  </div>
  <div class="row">
    <div class="small-12 columns text-center">
      <a class="button round">Learn more</a>
    </div>
  </div>
</section>

<script data-main="/js/app/index" src="/js/vendor/requirejs/require.js"></script>