<section id="hero">
  <div class="row">
    <div class="small-12 medium-10 small-centered text-center columns">
      <h1>Noise Eater automatically identifies wind, distortion, and microphone handling noise in your audio file.</h1>
      <a class="button round">Learn more</a>
    </div>
  </div>
</section>

<div class="row">
  <div class="large-8 columns">
    <h3>Upload your audio file</h3>
    <form method="post" action="/" enctype='multipart/form-data' data-abide>
      <fieldset>

        <label for="audio">
          <h5>Audio File</h5>
          <em>Select any valid audio format.</em>
          <input type="file" name="audio" id="audio" required>
          <small class="error">Please select an audio file</small>
        </label>

        <label for="audio"><h5>Description</h5>
          <input type="text" name="description" id="description" placeholder="Add a description for your reference.">
        </label>      

        <label for="email"><h5>Email</h5>
          <input type="email" name="email" id="email" placeholder="You will be sent a link to confirm your request." required>
          <small class="error">A valid email address is required.</small>
        </label>

        <label>
          <h5>Detection</h5>
          <em>Which noise detection algorithm do you want to use?</em>
        </label>          
          <input type="radio" name="detection" id="detection-wind" value="wind" checked><label for="detection-wind">Wind Noise</label><br>
          <input type="radio" name="detection" id="detection-distortion" value="distortion"><label for="detection-distortion  ">Distortion</label><br>
          <input type="radio" name="detection" id="detection-mic" value="mic" disabled><label for="detection-mic"><strike>Microphone Handling Noise (Coming soon!)</strike></label>

        <label for="terms">
          <input type="checkbox" name="terms" id="terms" required>
          I agree to the terms and conditions
          <small class="error">You must agree to the terms and conditions</small>
        </label>

        <div class="large-12 columns">
          <button type="submit" name="upload" id="upload" value="upload">Upload</button>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="large-4 columns">
    <h3>Sample files</h3>
    <ul>
      {{#audio}}
        <li>
          <a href="/report/{{id}}">
            {{description}}
          </a>
        </li>
      {{/audio}}
    </ul>
  </div>
</div>
<hr>
<section id="how-it-works">
  <div class="row">
    <div class="small-12 columns text-center">
      <h2>The Process</h2>
    </div>
  </div>
  <div class="row text-center medium-uncollapse" data-equalizer>
    <div class="medium-4 small-12 columns" data-equalizer-watch>
      <div class="process">
        <img src="/images/ne_process1.png">
        <h5>Upload your audio file</h5>
      </div>
    </div>
    <div class="medium-4 small-12 columns" data-equalizer-watch>
      <div class="process">    
        <img src="/images/ne_process2.png">
        <h5>Our robots identify the noise and supply you with a report</h5>
      </div>
    </div>    
    <div class="medium-4 small-12 columns" data-equalizer-watch>
      <div class="process">    
        <img src="/images/ne_process3.png">
        <h5>You can download your file with noise removed, or just examine the report</h5>
      </div>
    </div>    
  </div>
</section>