<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Noise Eater</title>
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <script src="/js/vendor/modernizr/modernizr.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
        <h1><a href="/">NoiseEater</a></h1>
      </div>
    </div>
    <hr>
    {{{yield}}}
    <script data-main="/js/app" src="/js/vendor/requirejs/require.js"></script>
  </body>
</html>