<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Noise Eater</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Noise Eater automatically identifies wind, distortion, and microphone handling noise in your audio file.">
    {{! Facebook metatags }}
    <meta property="og:title" content="Noise Eater">
    <meta property="og:image" content="/images/ne_facebookcover1.png">
    <meta property="og:description" content="Noise Eater automatically identifies wind, distortion, and microphone handling noise in your audio file.">
    {{! Google webfont }}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <link type="text/plain" rel="author" href="/humans.txt" />
    <script src="/js/vendor/modernizr/modernizr.js"></script>
  </head>
  <body>
    <header>
      <div class="row">
        <div class="small-12 medium-6 columns">
          <a href="/"><h2>NoiseEater</h2></a>
        </div>
        <div class="small-12 medium-6 columns">
          <nav role="navigation" id="primary">
            <ul>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
          </nav>
        </div>
      </div>
    </header>

    <section id="main">
      {{{yield}}}
    </section>

    <footer>
      <div class="row">
        <div class="small-12 medium-7 columns">
          <img src="/images/ne_logo_footer.png">
          <nav role="secondary" id="secondary">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/licensing">Licensing</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </nav>

        </div>
        <div class="small-12 medium-5 columns text-right">
          <p class="impressum">
            &copy; 2015 Noise Eater<br>
            A project by Salford University's<br> <a href="http://www.salford.ac.uk/computing-science-engineering/research/acoustics">Acoustics Research Centre</a>.<br><br>
            <span class="authors">
              Site by <a href="http://alliscalm.net">Kim Foale</a> &amp; <a href="http://studiosquid.co.uk/">Squid.</a><br>
              <a href="https://github.com/kimadactyl/NoiseEater">Fork me on github!</a>
            </span>
          </p>
        </div>
      </div>
    </footer>

  </body>
</html>