<div class="error">
  <div class="row">
      <div class="small-12 columns text-center">
        <h2 class="title">404: Page Not Found</h2>
        <h3>We can't find that page. Sorry!</h3>
        <a class="button round" href="/">Go back home</a>
      </div>
    </div>
  </div>
</div>