<div class="static processing">
  <div class="row">
      <div class="small-12 columns text-center">
       <h2 class="title">Processing</h2>
     </div>
  </div>
  <div class="row">
    <div class="medium-8 columns medium-centered text-centered">
      <h3><span class="queue">Thanks for uploading. Loading queue status...</span></h3>
      <p>You will recieve an email when your request is complete. Thanks for waiting!</p>
    </div>
  </div>
</div>

<script type="text/javascript">
  var id = {{id}};
</script>

<script data-main="/js/processing" src="/js/vendor/requirejs/require.js"></script>