<div class="row">
  <div class="large-12 columns">
    <h2>Report for: {{description}}</h2>

    <div id="peaks-container"></div>
    <audio controls>
      <source src="/audio/{{id}}/input.mp3" type="audio/mp3">
      <source src="/audio/{{id}}/input.ogg" type="audio/ogg">
    </audio>

  </div>  
</div>

<div class="row">
  <div class="small-12 columns">
    <h5>Threshold: <span id="sliderOutput"></span></h5>
    <div id="threshold-slider" class="range-slider" data-slider data-options="display_selector: #sliderOutput; initial: 25;">
      <span class="range-slider-handle" role="slider" tabindex="0"></span>
      <span class="range-slider-active-segment"></span>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-8 columns">
    <section id="global-stats">
      <h3>Global Statistics</h3>
      <table>
        <thead>
          <tr>
            <td>SNR</td>
            <td>&gt; 20dB</td>
            <td>20db to 10dB</td>
            <td>10dB to 0dB</td>
            <td>0dB to -10dB</td>
            <td>-10dB to -20dB</td>
            <td>&lt; -20dB</td>
          </tr>
        </thead>
        <tr>
          <td>Total time</td>
          {{#global_stats}}
            <td>{{.}}</td>
          {{/global_stats}}
        </tr>
      </table>
    </section>
    <div class="large-4 columns">
      <section id="time-history">
        <h3>Time History</h3>
        <table id="time-history-table">
          <thead>
            <tr>
              <td>Time (s)</td>
              <td>Noise dBA</td>
              <td>Noise %</td>
            </tr>
          </thead>
          {{#time_history}}
            <tr>
              <td>{{T}}</td>
              <td>{{dBA}}</td>
              <td>{{QDeg}}</td>
            </tr>
          {{/time_history}}
        </table>
      </section>
    </div>
    <div class="large-4 columns">
      <section id="wind-free-regions">
        <h3>Wind-Free Regions</h3>
        <table>
          <thead>
            <tr>
              <td>Start (s)</td>
              <td>End (s)</td>
            </tr>
          </thead>
          {{#wind_free_regions}}
            <tr>
              <td>{{s}}</td>
              <td>{{e}}</td>
            </tr>
          {{/wind_free_regions}}
        </table>
      </section>
    </div>
  </div>

  <div class="large-4 columns">

    <section id="download">
      <form method="post" action="/report/{{id}}/output">
        <fieldset>
          <h5>Download these regions</h5>
          <label for="format"><h6>Format</h6> </label>
          <input type="radio" name="format" id="format-mp3" value="mp3" checked>
          <label for="format-mp3">MP3</label><br>
          <input type="radio" name="format" id="format-ogg" value="ogg">
          <label for="format-ogg">Ogg</label><br>
          <input type="radio" name="format" id="format-wav" value="wav">
          <label for="format-wav">Source</label><br>

          <label for="type"><h6>Type</h6></label>
          <input type="radio" name="type" id="type-mute" value="mute" checked>
          <label for="type-mute">One file with noise regions muted</label><br>
          <input type="radio" name="type" id="type-zip" value="zip">
          <label for="type-zip">Zip file of noise-free regions</label><br>

          {{! TODO: add threshold slider }}

          <button type="submit" name="download" id="download" value="download">Download</button>
        </fieldset>
      </form>
    </section>

  </div>
</div>  

<script type="text/javascript">
  var regions = [
      {{#wind_free_regions}}
      {
        startTime: {{s}},
        endTime: {{e}},
        color: "yellow",
        labelText: "Wind-free region"
      },
      {{/wind_free_regions}}
    ]
  var thresh = 25;
</script>

<script data-main="/js/app/report" src="/js/vendor/requirejs/require.js"></script>