<div class="row">
  <div class="medium-9 columns text-center">
    <h2 class="title">Report for: {{description}}</h2>
  </div>
  <div class="medium-3 columns">
    <div id="key">
      <ul>
        <li class="clean"><div></div> Clean sound</li>
        <li class="noise"><div></div> Noise</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="error">{{error}}</div>
    
    <div id="peaks-container"><h2>Loading...</h2></div>
    <audio controls>
      <source src="/{{location}}/{{validationstring}}/input.mp3" type="audio/mp3">
      <source src="/{{location}}/{{validationstring}}/input.ogg" type="audio/ogg">
    </audio>

  </div>  
</div>

<div class="row" id="threshold">
  <div class="small-12 columns">
    <h5>Threshold: <span id="sliderOutput"></span></h5>
    <div id="threshold-slider" class="range-slider" data-slider data-options="display_selector: #sliderOutput; initial: 25;">
      <span class="range-slider-handle" role="slider" tabindex="0"></span>
      <span class="range-slider-active-segment"></span>
    </div>
  </div>
</div>

<div class="row soundinfo">
  <div class="large-8 columns text-center">

    <section id="global-stats">
      <h3>Global Statistics</h3>
      <p>This shows the overall amount of noise in your audio file.</p>
      <table>
        <thead>
          <tr id="toggle">
            <td>
              <span class="snr">SNR (dB)</span>
              <span class="pc">Noise (%)</span>
            </td>
            <td>
              <span class="snr">&gt; 20</span>
              <span class="pc">&lt; 24</span>
            </td>
            <td>
              <span class="snr">20 to 10</span>
              <span class="pc">24 to 40</span>
            </td>
            <td>
              <span class="snr">10 to 0</span>
              <span class="pc">40 to 54 </span>
            </td>
            <td>
              <span class="snr">0 to -10</span>
              <span class="pc">54 to 69</span>
            </td>
            <td>
              <span class="snr">-10 to -20</span>
              <span class="pc">69 to 95</span>
            </td>
            <td>
              <span class="snr">&lt; -20</span>
              <span class="pc">&gt; 96</span>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Time (s)</td>
            {{#global_stats}}
              <td>{{.}}</td>
            {{/global_stats}}
          </tr>
        </tbody>
      </table>
    </section>

    <section id="wind-free-regions">
      <h3>Noise-Free Regions</h3>
      <p>These are the regions free from noise at the selected threshold.</p>
      <table id="wind-free-regions">
        <thead>
          <tr>
            <td>Start (s)</td>
            <td>End (s)</td>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </section>

    {{#is_not_example}}
      <section id="feedback">
        <h3>Tell us what you think</h3>
        <p>NoiseEater is still in development. Let us what you think using this form.</p>
        <p>Alternatively, tweet us: <a href="https://twitter.com/goodrecording">@GoodRecording</a>.

        <form id="feedback" method="post" action="/feedback/{{validationstring}}">
          <p>What percentage of error in your recording did NoiseEater correctly identify?</p>
          <h5>Rating: <span id="ratingOutput"></span>%</h5>
          <div id="rating-slider" class="range-slider text-left" data-slider data-options="display_selector: #ratingOutput; initial: {{feedbackrating}};">
            <span class="range-slider-handle" role="slider" tabindex="0"></span>
            <span class="range-slider-active-segment"></span>
            <input type="hidden" name="rating">
          </div>  
          <label><h5>Any other comments?</h5>
            <textarea name="textfeedback">{{feedbacktext}}</textarea>
          </label>
          <button type="submit" name="feedback" class="download" value="feedback">
            Submit Feedback
          </button>
        </form>
      </section>
    {{/is_not_example}}
  </div>

  <div class="large-4 columns text-center">

    <h3>Download these regions</h3>

    <section id="download">
      <form class="text-left" id="output" method="post" action="/report/{{validationstring}}">
        <fieldset>
          <label for="format"><h6>Format</h6></label>
          <div id="formats">
            <input type="radio" name="format" id="format-mp3" value="mp3" checked>
            <label for="format-mp3">MP3</label><br>
            <input type="radio" name="format" id="format-ogg" value="ogg">
            <label for="format-ogg">Ogg</label><br>
            <input type="radio" name="format" id="format-wav" value="wav">
            <label for="format-wav">Source</label><br>
          </div>

          <label for="type"><h6>Type</h6></label>
          <input type="radio" name="type" id="type-mute" value="mute" checked>
          <label for="type-mute">File with noise regions muted</label><br>
          <input type="radio" name="type" id="type-zip" value="zip">
          <label for="type-zip">Zip file of noise-free regions</label><br>

          <input type="hidden" name="regions" id="regions" value="">
          <button type="submit" name="download" id="downloadbtn" class="download" value="download"> 
            Download
          </button>
          <p id="downloaderror"></p>
        </fieldset>

      </form>
    </section>

  </div>
</div>  

<script type="text/javascript">
  var model = {
    threshold: 25,
    timeHistory: {{{time_history}}},
    passingRegions: [],
    showAllRegionsToggle: 0,
    url: "{{location}}/{{validationstring}}",
    validationstring: "{{validationstring}}",
  };
</script>

<script data-main="/js/report" src="/js/vendor/requirejs/require.js"></script>