<div class="row">
  <div class="large-12 columns text-center">
    <h2 class="title">Report for: {{description}}</h2>

    <div class="error">{{error}}</div>
    
    <div id="peaks-container"></div>
    <audio controls>
      <source src="/audio/{{id}}/input.mp3" type="audio/mp3">
      <source src="/audio/{{id}}/input.ogg" type="audio/ogg">
    </audio>

  </div>  
</div>

<div class="row">
  <div class="small-12 columns">
    <h5>Threshold: <span id="sliderOutput"></span></h5>
    <div id="threshold-slider" class="range-slider" data-slider data-options="display_selector: #sliderOutput; initial: 25;">
      <span class="range-slider-handle" role="slider" tabindex="0"></span>
      <span class="range-slider-active-segment"></span>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-7 columns text-center">
    <section id="global-stats">
      <h3>Global Statistics</h3>
      <table>
        <thead>
          <tr>
            <td>SNR</td>
            <td>&gt; 20dB</td>
            <td>20db to 10dB</td>
            <td>10dB to 0dB</td>
            <td>0dB to -10dB</td>
            <td>-10dB to -20dB</td>
            <td>&lt; -20dB</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Total time</td>
            {{#global_stats}}
              <td>{{.}}</td>
            {{/global_stats}}
          </tr>
        </tbody>
      </table>
    </section>
    <section id="wind-free-regions">
      <h3>Wind-Free Regions</h3>
      <table id="wind-free-regions">
        <thead>
          <tr>
            <td>Start (s)</td>
            <td>End (s)</td>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </section>
  </div>

  <div class="large-5 columns text-center">

    <h3>Download these regions</h3>

    <section id="download">
      <form id="output" method="post" action="/report/{{id}}">
        <fieldset>
          <label for="format"><h6>Format</h6> </label>
          <input type="radio" name="format" id="format-mp3" value="mp3" checked>
          <label for="format-mp3">MP3</label><br>
          <input type="radio" name="format" id="format-ogg" value="ogg">
          <label for="format-ogg">Ogg</label><br>
          <input type="radio" name="format" id="format-wav" value="wav">
          <label for="format-wav">Source</label><br>

          <label for="type"><h6>Type</h6></label>
          <input type="radio" name="type" id="type-mute" value="mute" checked>
          <label for="type-mute">One file with noise regions muted</label><br>
          <input type="radio" name="type" id="type-zip" value="zip">
          <label for="type-zip">Zip file of noise-free regions</label><br>

          <input type="hidden" name="regions" id="regions" value="">

          <button type="submit" name="download" id="download" value="download">Download</button>
        </fieldset>
      </form>
    </section>

  </div>
</div>  

<script type="text/javascript">
  var model = {
    threshold: 25,
    timeHistory: {{{time_history}}},
    passingRegions: []
  };
</script>

<script data-main="/js/app/report" src="/js/vendor/requirejs/require.js"></script>