<div class="static about">
  <div class="row">
      <div class="small-12 columns text-center">
       <h2 class="title">Upload successful</h2>
     </div>
  </div>
  <div class="bgimage row">
    <div class="medium-8 columns medium-centered">
      <p>Check your email for a link to start processing!</p>
    </div>
  </div>
</div>