<div class="static validated">
  <div class="row">
      <div class="small-12 columns text-center">
        <h2 class="title">Validated!</h2>
      </div>
  </div>
  <div class="row">
    <div class="medium-8 columns medium-centered">
    <p>Thanks for validating your email address and confirming you're not a spambot. Your request has been added to the queue. <a href="/report/{{validationstring}}">Click here to continue</a> or wait 3 seconds to be redirected automatically.</p>
  </div>
</div>
<script type="text/javascript">
setTimeout(function () {
  window.location.href = "/report/" + "{{validationstring}}";
}, 3000)
</script>